.carousel {
  position: relative;
  display: grid;
  color: $basic-extra-dark;
  grid-template-columns: 540px 630px;

  &__—Åolumn {
    padding-top: 115px;
    padding-right: 20px;
    padding-left: 70px;
  }

  &__title {
    @include h1;

    margin: 0;
    margin-bottom: 24px;
    color: inherit;
  }

  &__text {
    @include p1;

    margin: 0;
    margin-bottom: 48px;
    color: inherit;
  }

  &__link {
    min-width: 139px;
  }

  &__slider {
    display: flex;
    height: 507px;
    justify-content: space-between;
    padding-left: 2px;
  }

  &__social {
    justify-content: end;
    margin-top: 2px;
  }
}

div.swiper {
  width: 350px;
  margin: 0;
}

div.swiper-wrapper {
  width: 312px;
  margin: 0 auto;
}

.swiper-button {
  position: absolute;
  z-index: 1;
  top: 237px;
  left: 0;
  width: 38px;
  height: 38px;
  border: 2px solid $basic-extra-light;
  background-color: rgba($basic-extra-light, 0.3);
  border-radius: 50%;
  cursor: pointer;
  fill: $basic-extra-light;
  outline: none;

  &:hover {
    background-color: rgba($basic-extra-light, 1);
    fill: $basic-extra-dark;
  }

  &:focus {
    border: 2px solid $basic-extra-dark;
    background-color: rgba($basic-extra-light, 0.3);
    fill: $basic-extra-dark;
  }

  &:active {
    border: 2px solid $basic-extra-light;
    background-color: rgba($basic-extra-light, 0.3);
    fill: $basic-extra-light;
    opacity: 0.4;
  }

  &-next {
    right: 0;
    left: auto;
    transform: rotate(180deg);
  }
}

.swiper-thumb {
  overflow: hidden;
  width: 241px;
  margin-top: 184px;

  &__wrapper {
    display: flex;
  }
}

.swiper-pagination {
  display: grid;
  margin-top: 14px;
  gap: 8px;
  grid-template-columns: repeat(8, 12px);
}

.swiper-pagination-bullet {
  position: relative;
  display: block;
  width: 12px;
  height: 12px;
  padding: 0;
  border: 1px solid $basic-extra-light;
  background-color: $basic-extra-light;
  border-radius: 50%;
  cursor: pointer;
  opacity: 0.3;
  outline: none;

  &:hover {
    background-color: rgba($basic-extra-light, 0.3);
    opacity: 1;
  }

  &:focus {
    border: 1px solid $basic-extra-dark;
    background-color: rgba($basic-extra-light, 0.3);
    opacity: 1;
  }

  &-active {
    opacity: 1;
  }
}
