.footer {
  display: flex;
  padding: 48px 0;

  &__social {
    width: 370px;
    padding-left: 4px;
    margin-right: 30px;
  }

  &__nav {
    @include reset-list;

    display: grid;
    max-width: 470px;
    align-content: start;
    padding-left: 7px;
    grid-template-columns: fit-content(235px) fit-content(235px);
    row-gap: 8px;
  }

  &__nav-link {
    @include signature;

    display: block;
    padding-left: 24px;
    color: $basic-extra-dark;
    outline: none;
    text-decoration: none;

    &:hover,
    &:focus {
      color: rgba($basic-extra-light, 0.8);
    }
  }

  &__nav-link--heart {
    @include signature-bold;

    background-image: url("@img/icons/icons.svg#heart-fill");
    background-position: 0 center;
    background-repeat: no-repeat;
    background-size: 16px 16px;
  }

  &__author {
    width: 207px;
    padding-right: 14px;
    margin-left: auto;
  }

  &__img-link {
    display: block;
    margin-bottom: 14px;
    outline-offset: 2px;

    img {
      display: block;
      width: 93px;
      height: 27px;
      object-fit: contain;
    }
  }

  &__copyright {
    @include signature2;

    color: $basic-extra-dark;
  }

  &__link {
    position: relative;

    &::before {
      position: absolute;
      right: 0;
      bottom: -1px;
      left: 0;
      height: 1px;
      background-color: $basic-extra-dark;
      content: "";
      opacity: 0.5;
    }
  }
}
