@use "sass:color";

.header {
  padding: 24px 0;
  margin-bottom: 21px;

  &__nav {
    display: flex;
    align-items: center;
  }

  &__logo {
    flex-shrink: 0;
    margin-right: 16px;

    &:focus {
      border-radius: 25px;
      outline: 2px solid $basic-extra-dark;
      outline-offset: 10px;
    }
  }

  &__site-nav {
    margin-right: auto;
  }

  &__logo-img {
    display: block;
    width: 137px;
    height: 56px;
  }

  &__column {
    display: flex;
    max-width: 510px;
    align-items: center;
  }

  &__tel {
    @include p3-bold;

    margin-right: 20px;
    border-radius: 10px;
    color: $basic-extra-dark;
    outline: none;
    outline-offset: 10px;
    text-decoration: none;

    &:hover {
      color: color.adjust($basic-extra-dark, $blackness: -10%);
    }

    &:focus {
      outline: 2px solid $basic-extra-dark;
    }

    &:active {
      color: color.adjust($basic-extra-dark, $blackness: -20%);
    }
  }
}
