.site-nav {
  @include reset-list;

  display: flex;
  max-width: 490px;
  flex-shrink: 0;
  flex-wrap: wrap;

  &__item {

  }

  &__link {
    @include p3;

    padding: 8px 16px;
    border-radius: 26px;
    color: $basic-extra-dark;
    text-decoration: none;

    &:hover {
      background-color: rgba($basic-extra-light, 0.5);
    }

    &:focus {
      background-color: rgba($basic-extra-light, 0.5);
      outline: 2px solid $basic-extra-dark;
      outline-offset: -2px;
    }

    &:active {
      background-color: $basic-extra-light;
      outline: none;
    }

    &--active {
      background-color: $special-bright;
      color: $basic-extra-light;
    }
  }
}
