/* stylelint-disable no-descending-specificity */
html {
  height: 100%;
  box-sizing: border-box;
}

body {
  min-width: 1366px;
  height: 100%;
  margin: 0;
  background-color: $special-light;
  color: $basic-dark;
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  margin: -1px;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  white-space: nowrap;
}

.wrapper {
  display: flex;
  width: 1170px;
  min-height: 100%;
  flex-direction: column;
  margin: 0 auto;
}

.input,
.textarea {
  @include p3;

  padding: 13px 15px;
  border: 1px solid $basic-neutral;
  background-color: $basic-white;
  border-radius: 4px;
  color: $basic-extra-dark;
  font-family: inherit;
  outline: none;
  outline-offset: -2px;

  &::placeholder {
    color: $basic-neutral;
  }

  &:hover {
    border-color: $basic-extra-dark;
  }

  &:focus {
    outline: 2px solid $basic-extra-dark;
  }

  &--error {
    border-color: $status-error;
  }

  &--error:hover {
    outline: 2px solid $status-error;
  }

  &:disabled,
  &:disabled:hover {
    border-color: $basic-neutral;
    background-color: $basic-light;
  }
}

.textarea {
  height: 149px;
  resize: none;
}

.button {
  @include p3-bold;
  @include shadow-small;
  @include button;

  background-color: $basic-extra-light;
  color: $basic-extra-dark;
  outline: 4px solid rgba($basic-extra-light, 0.4);

  &:hover {
    background-color: rgba($basic-extra-light, 0.4);
    outline: 4px solid $basic-extra-light;
  }

  &:focus {
    outline: 2px solid $basic-extra-dark;
  }

  &:active {
    background-color: rgba($basic-extra-light, 0.7);
  }

  &:disabled {
    background-color: $basic-light;
    color: $basic-neutral;
    font-weight: 400;
    outline: 4px solid rgba($basic-extra-light, 0.4);
  }

  &--spinner {
    @include spinner;
  }

  &--spinner::after {
    border: 2px solid rgba($basic-extra-dark, 0.24);
    border-right-color: $basic-extra-dark;
  }
}

.catalog-button {
  min-width: 179px;
  margin-left: 494px;
}

.button2 {
  @include p3-bold;
  @include shadow-small;
  @include button;

  background-color: $special-extra-bright;
  color: $basic-extra-light;
  outline: 4px solid rgba($special-extra-bright, 0.3);

  &:hover {
    background-color: rgba($basic-extra-light, 0.3);
    color: $basic-extra-dark;
    outline-color: $special-extra-bright;
  }

  &:focus {
    outline: 2px solid $basic-extra-dark;
  }

  &:active {
    background-color: rgba($special-extra-bright, 0.7);
  }

  &:disabled {
    background-color: $basic-neutral;
    color: $basic-dark;
    outline: 4px solid rgba($basic-neutral, 0.3);
  }

  &--spinner {
    @include spinner;
  }

  &--spinner::after {
    border: 2px solid rgba($basic-extra-light, 0.25);
    border-right-color: $basic-extra-light;
  }
}

.main {
  flex-grow: 1;
}

.index-title {
  @include h2;

  margin: 0;
  margin-bottom: 55px;
  color: $basic-extra-dark;
  text-align: center;
}

.popular {
  margin-bottom: 80px;
}

.index-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 76px;
}

.news {
  width: 570px;
  min-height: 220px;
  padding: 32px;
  padding-right: 235px;
  background-color: #fff;
  background-image: url("@img/bg-news.jpg");
  background-position: 0 -108px;
  background-repeat: no-repeat;
  border-radius: 16px;

  &__hint {
    @include p3;

    margin: 0;
    margin-bottom: 14px;
  }

  &__title {
    margin: 0;
  }

  &__link {
    @include h3;

    color: $basic-extra-dark;
    text-decoration: none;
  }
}

.catalog-title {
  @include h2;

  margin: 0;
  margin-bottom: 39px;
  color: $basic-extra-dark;
}

.select {
  @include signature;

  min-width: 196px;
  padding: 8px 40px 8px 16px;
  border: 0;
  appearance: none;
  background-color: rgba($basic-extra-light, 0.3);
  background-image: url("@img/icons/icons.svg#arrow-down");
  background-position: right 13px center;
  background-repeat: no-repeat;
  background-size: 16px;
  border-radius: 20px;
  color: $basic-extra-dark;
  cursor: pointer;
  font-family: inherit;

  &:hover {
    background-color: rgba($basic-extra-light, 0.5);
  }

  &:focus {
    background-color: rgba($basic-extra-light, 0.4);
    outline: 2px solid $basic-extra-light;
    outline-offset: -2px;
  }
}

.range-slider {
  padding: 17px 16px;
  background-color: rgba($basic-extra-light, 0.3);
  border-radius: 20px;

  &__range {
    position: relative;
    width: 164px;
    height: 2px;
    background-color: rgba($basic-dark, 0.3);
    border-radius: 1px;
  }

  &__indicator {
    position: absolute;
    display: flex;
    height: 100%;
    justify-content: space-between;
    background-color: $basic-dark;
  }

  &__toggler {
    position: absolute;
    top: 50%;
    width: 16px;
    height: 16px;
    padding: 0;
    border: 0;
    margin-top: -8px;
    background-color: $basic-extra-dark;
    border-radius: 50%;
    box-shadow:
      inset 0 0 0 6px $basic-extra-dark,
      inset 0 0 0 8px $basic-extra-light;
    cursor: pointer;

    &:hover {
      box-shadow:
        inset 0 0 0 6px $basic-extra-light,
        inset 0 0 0 8px $basic-extra-dark;
    }

    &:focus {
      box-shadow:
        inset 0 0 0 6px $basic-extra-light,
        inset 0 0 0 8px $basic-extra-dark;
      outline: 2px solid $basic-extra-dark;
    }

    &:active {
      box-shadow: none;
      outline: none;
    }
  }

  &__toggler--min {
    left: 0;
    margin-left: -8px;
  }

  &__toggler--max {
    right: 0;
    margin-right: -8px;
  }
}

.control {
  display: flex;
  align-items: center;

  &__text {
    @include signature;

    color: $basic-extra-dark;
  }

  &__mark {
    position: relative;
    width: 16px;
    height: 16px;
    flex-shrink: 0;
    border: 1.33px solid $basic-extra-dark;
    margin-right: 8px;
    border-radius: 50%;
    cursor: pointer;
  }

  &__input:disabled + &__mark {
    cursor: default;
  }

  // Checkbox
  &__input[type="checkbox"] + &__mark {
    border: 0;
    background-image: url("@img/icons/icons.svg#check-off");
    border-radius: 0;
  }

  &__input[type="checkbox"]:checked + &__mark {
    background-image: url("@img/icons/icons.svg#check-on");
  }

  // Hover, Focus
  &__input[type="checkbox"]:hover + &__mark,
  &__input[type="checkbox"]:focus + &__mark {
    border: 0;
    background-image: url("@img/icons/icons.svg#check-off-hover");
    border-radius: 0;
  }

  &__input[type="checkbox"]:hover:checked + &__mark,
  &__input[type="checkbox"]:focus:checked + &__mark {
    background-image: url("@img/icons/icons.svg#check-on-hover");
  }

  // Disabled
  &__input[type="checkbox"]:disabled + &__mark {
    border: 0;
    background-image: url("@img/icons/icons.svg#check-off-disabled");
    border-radius: 0;
  }

  &__input[type="checkbox"]:disabled:checked + &__mark {
    background-image: url("@img/icons/icons.svg#check-on-disabled");
  }

  // Radio
  &__input[type="radio"]:checked + &__mark::before,
  &__input[type="radio"]:checked:disabled + &__mark::before {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 6px;
    height: 6px;
    background-color: $basic-extra-dark;
    border-radius: 50%;
    content: "";
    transform: translate(-50%, -50%);
  }

  // Hover, Focus
  &__input[type="radio"]:hover + &__mark,
  &__input[type="radio"]:focus + &__mark {
    border-color: $basic-extra-light;
  }

  &__input[type="radio"]:hover + &__mark::before,
  &__input[type="radio"]:focus + &__mark::before {
    background-color: $basic-extra-light;
  }

  // Disabled
  &__input[type="radio"]:disabled + &__mark {
    border-color: $basic-extra-dark;
    opacity: 0.4;
  }
}

.paginator-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-bottom: 80px;
  border-bottom: 1px solid rgba($basic-extra-light, 0.3);
}
