@mixin h1 {
  font-size: 36px;
  font-weight: 900;
  line-height: 46px;
}

@mixin h2 {
  font-size: 32px;
  font-weight: 900;
  line-height: 46px;
}

@mixin h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
}

@mixin h4 {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

@mixin h5 {
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
}

@mixin h6 {
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
}

@mixin p1 {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

/* default in body */
@mixin p2 {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}

@mixin p3 {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

@mixin p3-bold {
  @include p3;

  font-weight: 700;
}

@mixin signature {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

@mixin signature-bold {
  @include signature;

  font-weight: 700;
}

@mixin signature2 {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}

@mixin shadow-small {
  box-shadow: 0 4px 12px rgb(45 52 64 / 10%);
}

@mixin shadow-medium {
  box-shadow: 0 8px 16px rgb(45 52 64 / 12%);
}

@mixin shadow-big {
  box-shadow: 0 15px 40px rgb(45 52 64 / 12%);
}

@mixin reset-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

@mixin button {
  display: inline-block;
  min-width: 131px;
  padding: 12px;
  border: 0;
  border-radius: 26px;
  cursor: pointer;
  font-family: inherit;
  outline-offset: 0;
  text-align: center;
  text-decoration: none;
}

@mixin spinner {
  position: relative;
  padding-right: 48px;

  &::after {
    position: absolute;
    top: 14px;
    right: 32px;
    width: 16px;
    height: 16px;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-name: "spinner";
    animation-timing-function: linear;
    border-radius: 50%;
    content: "";
  }
}
