$basic-extra-dark: #2d3440;
$basic-dark: #565c66;
$basic-neutral: #b9b9b9;
$basic-light: #e7e7e7;
$basic-extra-light: #fcfcfc;
$basic-white: #fff;
$special-extra-bright: #ff2f64;
$special-bright: #ff4a78;
$special-neutral: #f79;
$special-light: #feafc3;
$special-extra-light: #ffcbd8;
$special-blue: #69a9ff;
$special-yellow: #fcc850;
$status-error: #ea5454;
$status-warning: #fd912e;
$status-success: #00e484;
